{% extends 'base.html' %}

{% block title %}
  {{activity.title}}
{% endblock %}

{% block breadcrumbs %}
    <a class="button" href="/">Home</a>
    <a class="button" href="/blog/">Blog</a>
{% endblock %}

{% block body %}
{% include 'activity_panel.html' %}

{% if comments %}
<h3>Comments</h3>
<ul id="comments">
  {% for comment in comments %}
    <li>
      <img src="{{comment.actor.image.url}}" width="50" height="50"/>
       <a href="{{comment.actor.url}}">{{ comment.actor.displayName }}</a>
       {% if comment.published_today %}{{ comment.published_dt|date:"H:i" }}{% else %}
       {{ comment.published_dt|date }}
    {% endif %}
    {{comment.object.content}}
</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

